.jobsearch_continer_main {
  width: 100%;
}
.jobsearch_continer {
  display: flex;
  width: 840px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  margin: 0 auto;
}
.jobsearch_continer_topic {
  color: var(--text-primary, #051d14);
  text-align: center;
  width: 720px;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -0.72px;
}
.jobsearch_continer_cardset {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.jobsearch_continer_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
}
.jobsearch_continer_card_topic {
  color: var(--text-primary, #051d14);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.jobsearch_continer_card_pera {
  color: var(--text-secondary, #4b5852);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 900px) {
  .jobsearch_continer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    margin: 0 auto;
  }
  .jobsearch_continer_topic {
    width: 100%;
    font-size: 30px;
  }
}
