.home_hero {
  background: linear-gradient(
    179.97deg,
    #ffffff 9.06%,
    #eeffe1 43.82%,
    #e4f9aa 63.84%,
    #f4f1bb 85.01%,
    #fff5ee 108.37%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  padding: 128px 0;
}
.hero_sub_hed_continer {
  width: 886px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  gap: 13px;
  flex-direction: column;
}
.hero_sub_hed {
  text-align: center;
  background-color: #ffeb69;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0 auto;
  display: flex;
  line-height: 18px; /* 150% */
  letter-spacing: 1.2px;
  border-radius: 10px;
  padding: 3px 8px;
  font-weight: 600;
  display: inline-block;
}
.home_continer_main_one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.disply_topic {
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: center;
}
.pera_hero {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  width: 661px;
  color: #4b5852;
  line-height: 28px;
}
.price_card_container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
.price_card {
  border-radius: 20px;
  width: 366px;
  padding: 24px;
  background-color: #051d14;
  color: white;
  gap: 24px;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  display: flex;
}
.price_card_topic {
  font-weight: 600;
  font-size: 20px;
}
.price_card_pera {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.price_card_pera_new {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.price_card_name {
  font-size: 12px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

.pric_card_content_topic {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 8px;
  flex-direction: column;
}
.price_card_item_continer {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 16px;
  flex-direction: column;
}
.pric_card_content {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 4px;
  width: 100%;
  flex-direction: column;
}
.price_card_price {
  font-weight: 600;
  font-size: 48px;
}
.price_card_btn {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #bcec88;
  color: #051d14;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  border: 1px solid #bcec88;
}
.price_card_btn:hover {
  background-color: #ffeb69;
  border: 1px solid #ffeb69;
}
.price_card_sub {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  margin-top: 10px;
}
.price_card_item {
  display: flex;
  justify-content: start;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
}
.price_off {
  background-color: #f2a900;
  color: #051d14;
  font-size: 12px;
  border-radius: 10px;
  font-weight: 600;
  padding: 2px 8px;
  display: inline-block;
}
.price_set_card {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.dropp_price {
  text-decoration: line-through;
  color: #c6c6c6;
  font-size: 24px;
  font-weight: 400;
}
.price_drop {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  justify-content: start;
}
.sub_card_price {
  width: 1162px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  cursor: pointer;
  padding: 24px;
  background-color: #051d14;
  color: white;
}
.topic_sub_price {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
}
.topoc {
  display: flex;
  align-items: flex-end;
}
.pera_sub_price {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
.sub_card_price_main {
  display: flex;
  align-items: start;
  justify-content: flex-start;
}
.fm_price {
  font-weight: 600;
  font-size: 14px;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  left: -10px;
  padding-bottom: 25px;
}
.sub_card_price_100 {
  font-size: 30px;
  font-weight: 600;
}
.sub_card_btn_price {
  background-color: #bcec88;
  color: #051d14;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #bcec88;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
}
.lft_clm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.pop_image {
  position: relative;
  bottom: 32px;
  left: -190px;
}
.most_svg {
  position: relative;
  bottom: 16px;
  left: -293px;
}
.most_batch {
  background-color: #d71d1d;
  border-radius: 4px;
  padding: 2px 4px;
}
.most_batch_topic {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}
@media (max-width: 1269px) {
  .price_card {
    width: 100%;
  }
  .sub_card_price {
    width: 100%;
    flex-wrap: wrap;
    gap: 32px;
  }
  .hero_sub_hed_continer {
    width: 100%;
  }
}

@media (max-width: 908px) {
  .disply_topic {
    font-size: 30px;
    line-height: 38px;
  }
  .pera_hero {
    width: 100%;
    font-size: 18px;
  }
  .home_hero {
    padding: 96px 0;
  }
  .lft_clm {
    width: 100%;
  }
  .sub_card_btn_price {
    padding: 10px 20px;
  }

  .sub_card_btn_price {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home_hero {
    padding: 64px 0;
  }
}
